[submodule "joyent"]
	path = joyent
	url = git://github.com/joyent/pkgsrc-joyent.git
[submodule "wip"]
	path = wip
	url = git://github.com/joyent/pkgsrc-wip.git
[submodule "pentandra"]
	path = pentandra
	url = ssh://git@matthay.process.tree:7999/proc/pkgsrc-pentandra.git
